<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Node Authentication</h1>
            <p>Login or Register with:</p>
            <a href="/login" class="btn btn-primary"> Local Login</a>
            <a href="/signup" class="btn btn-primary"> Local Signup</a>
        </div>
    </div>
</body>